/*
bg: #1B2930,
darker-blue: #02242f
*/

* {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
}

body {
  margin: 0;
  background-color: #0C2F39;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100vh;

  overflow-y: scroll;

  background-color: #02242f;
}

nav {
  padding: 10px;
  background-color: #02242f;
}

.wrapper {
  padding: 20px;
}

.wrapper #new_alert {
  margin: 8px 0px;

  float: right;

  text-align: right;
}

.tickers .ind-ticker,
.recent .ind-ticker {
  margin: 0;
  padding: 5px 3px;
  border-radius: 4px;

  cursor: pointer;
}

.tickers .ind-ticker.selected,
.recent .ind-ticker.selected {
  background-color: rgba(255,255,255,0.1);
}

#sidebar #add_new {
  margin-top: 5px;
}

input[type=text] {
  padding: 5px;

  font-size: 1em;
  font-weight: 500;

  color: #FAFAFA;
  background-color: #01151B;

  border: none;
  outline: none;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#sidebar #add_new input[type=text] {
  width: calc(100% - 50px - 10px);

  float: left;
}

button[type=button] {
  font-weight: 500;

  color: #FAFAFA;
  background-color: #01151B;

  border: none;
  outline: none;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  cursor: pointer;
  transition: all 0.2s ease;
}

button[type=button]:hover {
  background-color: #043646;
}

#sidebar #add_new #submit {
  width: calc(50px);

  font-size: 1.25em;

  float: left;
}

#sidebar .ticker-name {
  float: left;
}

#sidebar .ticker-price,
#sidebar .ticker-change {
  float: right;
  font-weight: 400;
}

#sidebar .ticker-price {
  font-weight: 300;
  margin-right: 20px;
}

#sidebar .ticker-change {
  width: 55px;
  background-color: #69B87D;
  padding: 2px 4px;
  border-radius: 4px;

  text-align: center;
}

#sidebar .ticker-change.red-block {
  background-color: #B86969;
}

/* --- body css --- */

/* -- chart css -- */
#body #main_chart {
}

#body h2 {
  margin-bottom: 0.2em;
}

#chart_container div {
  background-color: #EDEDED;

  padding: 0px 20px;
  border-radius: 4px;
  /* if the date selector is below, remove this border. */
  border-bottom-left-radius: 0px;
}

#body #chart_container {
  position: relative;
}

#body {
  position: fixed;
  width: calc(100vw - 300px);
  height: 100vh;
  top: 0;
  left: 300px;

  overflow-y: scroll;
}

#body .stat-container {
  width: calc(100% - 40px);
  padding: 20px;

  border-radius: 4px;

  background-color: #02242f;
}

.stat-container .ind-stat {
  display: inline-block;
  vertical-align: top;

  width: 100px;

  padding: 10px;
}

.stat-container .ind-stat.large {
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;

  width: calc(220px + 4px); /* because css display: inline-block adds a few px. */
}

.ind-stat .stat-title {
  font-size: 0.8em;
  font-weight: 500;
}

.ind-stat .stat-value {
  font-size: 1.2em;
  font-weight: 300;
}

.trend-box {
  display: inline-block;
  vertical-align: top;

  padding: 5px 8px;
  margin: 0px 2px;

  font-size: 1.3em;

  background-color: #69B87D;

  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

  transition: all 0.2s ease;
}

.trend-box:hover {
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
          filter: brightness(1.05);
     -moz-filter: brightness(1.05);
  -webkit-filter: brightness(1.05);
}

.trend-box:active {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
          filter: brightness(0.98);
     -moz-filter: brightness(0.98);
  -webkit-filter: brightness(0.98);
}

.trend-box.red {
  color: #FAFAFA;
  background-color: #B86969;
}

.trend-box.green-shift {
  padding: 4px 8px 6px 8px;
}

#question_ticker {
  margin: 0;

  line-height: 0.9;

  font-weight: 200;
  font-size: 2.5em;
}

.search-container {
  /*margin-bottom: 1em;*/
}

#ticker_query {
  width: 250px;
}

#submit_query {
  margin-left: -4px;
  padding: 7.5px 20px;

  font-size: 1em;
  font-weight: 500;

  color: #FAFAFA;
  background-color: #01151B;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  cursor: pointer;
  transition: all 0.2s ease;
}

#submit_query:hover {
  background-color: #043646;
}

.chart-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.chart-times ol li {
  display: inline-block;
  width: 60px;
  padding: 8px 0px;
  margin: 0px -4px;

  border-left: 1px solid rgba(255,255,255,0.1);

  font-size: 0.9em;

  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
  background-color: #02242f;

  overflow: hidden;
  cursor: pointer;
}

.chart-times ol li:hover {
  filter: brightness(1.8);
  -webkit-filter: brightness(1.8);

  border-left: 1px solid transparent;
}

.chart-times ol li:first-child {
  margin-left: 0;
  border: none;
}

.chart-times ol {
  display: inline-block;
  height: 35px;
  padding: 0;
  margin: 0;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  overflow: hidden;
}

.chart-times ol li.selected {
  filter: brightness(2.5);
  -webkit-filter: brightness(2.5);
  border: none;
}
